*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
#navbar{
    position:sticky;
    top:0;
    left:0;
    z-index:100;
    padding:.5rem 5rem;
    box-shadow:5px 5px 20px rgba(0,0,0,.5)
}


.navbar .navbar-brand{
    font-size:25px;
    font-weight:800;
    color:brown;
}
#navbarSupportedContent a{
    color:white;
    border-bottom:2px solid transparent;
}
#navbarSupportedContent a:hover{
        border-bottom:2px solid brown;
}
#navbarSupportedContent button{
    background: brown;
}
section{
    width:100%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
/****Home**/
#home{
    background:url(bg3.jpg);/* if we give image will be 2 */
    background-size:cover;        /*it make the image to cover fully*/
    background-position: center;    /*it make the image cover from center*/
    flex-direction:column; /* it makes to visible the line(slogan) in one by one line */
}
#home h1{
    font-size:100px;
    color:white;
    letter-spacing:3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow:0px 1px 0px #ccc,
                0px 2px 0px #ccc,
                0px 3px 0px #ccc,
                0px 4px 0px #ccc,
                0px 5px 0px #ccc,
                0px 6px 0px #ccc,
                0px 7px 0px #ccc;
}

#home p{
    font-size:18px;
    color:white;
}
#home .input-group {
    width:40%;
    height:45px;
}
.signin{
    background:brown !important; /*this important makes the button coloured .if i not give important it wont visisble*/
    color:white !important;
    box-shadow:2px 4px 5px black;
}
.btn-primary {
    background-color: rgb(93, 3, 3) !important;
    border-color: rgb(93, 3, 3) !important;
    color: white !important;
}

/*******About*******/

#about{
    background-color: black;
}
#about h1{
    font-weight:800;
    font-size:50px;
    color:white;
}
#about p{
    color:white;
}
/***Product*******/

#product{
    background:grey;
}
#product h1{
    font-size:50px;
    letter-spacing:2px;
    font-weight:700;
}


/****Contact***/
form{
    display:flex;
    flex-direction:column;

}
#contact input{
    margin:10px 0px;
}
#contact textarea{
    margin:10px 0px;
}

#footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 40px 0;
}

#footer h2 {
  color: brown;
  font-weight: 800;
  font-size: 35px;
  margin-bottom: 10px;
}

#footer p {
  font-size: 18px;
  margin: 6px 0;
}

#footer p:last-child {
  color: #c0a080;
  font-size: 16px;
  margin-top: 15px;
  font-style: italic;
}

